.course-area{
    width: 75%;
    border-right: 1px solid grey;
}
.enroll-area{
    width: 25%;
    background-color: white;
}
.showButton{
    margin-left: 190px;
    font-size: 90px;
    width: 50%;
    
}
.show{
    text-align: start;
    margin-bottom:10px ;
}
.course{
    display: flex;
}